# Python virtual environment
venv/
.env 
.venv/
build/
dist/
*.spec


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Output files
output/*
!output/.gitkeep
database/*.db 
database/*.sqlite3

# Uploaded & Downloaded Feeds 
feeds/uploaded/* 
feeds/downloaded/*

# Keep folders 
!feeds/uploaded/.gitkeep 
!feeds/downloaded/.gitkeep

# OS files
.DS_Store
Thumbs.db
Desktop.ini